#preamble
  = @preamble

.ribbon{style:"max-width:#{@compliment.width}rem;"}
  .ribbon-content
    .inset
      #insult
        you #{@compliment}

  #taper
    .inset
      .dingle
%a#butan.button.pink.skew{href:"javascript:history.go(0)", style:"width:#{(@butan.length*0.7)}rem;"}
  = @butan
