#preamble
  #{@preamble}
  -#lookin real slick,
  -# keep on keepin on,
  -# an inspiration to us all,
  -# don't let anyone dull your sparkle,
  -# the world needs more like you,
  -# never change,
  -# always a pleasure,

.ribbon{style:"max-width:#{@width}rem;"}
  .ribbon-content
    #insult
      you
      #{@first_word.word}
      #{@second_word.word}
      #{@third_word.word}
      -#  {@first_word.word}
      -#  {@second_word.word}
      -#  {@third_word.word}
      -#{"beautiful"}
      -#{"goddamn"}
      -#{"disaster"}
      -# terribly talented hack
      -# wonderfully shit programmer
      -# gigantic yellow pillock
      -# dense lovely freak
      -# freaky sane inspiration
      -# handsy helpful hero
      -# funny solution maker
      -# brilliant ass goose
      -# sideways meat tornado
%a.button.pink.skew{href:"javascript:history.go(0)", style:"width:15rem;"}
  #{@butan}
  -#tell me i'm pretty
  -# hit me again
  -# moar
  -# say something nice
  -# again
  -# yeah
  -# great
  -# oh, ok
  -# keep em coming
  -# yep
