%html
  %head
    -#= stylesheet_link_tag "//fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700|Pacifico:400", :media => "all"
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Amatic+SC:400|Shadows+Into+Light:400|Pacifico:400", :media => "all"
    = stylesheet_link_tag "application", media: 'all', "data-turbolinks-track" => true
    %title The Gentle Compliment Generator
    %meta{name:"Description",content:"Automated Life Coaching, powered by Rails. Also my first Ruby app."}
    %meta{name:"gen@",content:"#{Time.now}"}

  %body.scaled

    .wrapper
      #title
        The Gentle Compliment Generator

    #main
      #preamble
        lookin real slick,
        -# keep on keepin on,
        -# an inspiration to us all,
        -# don't let anyone dull your sparkle,
        -# the world needs more like you,
        -# never change,
        -# always a pleasure,
      .ribbon
        .ribbon-content
          #insult
            you
            #{"beautiful"}
            #{"goddamn"}
            #{"disaster"}
          -# terribly talented hack
          -# wonderfully shit programmer
          -# gigantic yellow pillock
          -# dense lovely freak
          -# freaky sane inspiration
          -# handsy helpful hero
          -# funny solution maker
          -# brilliant ass goose
          -# sideways meat tornado

      -#%a.butan.blue{href:"#"}
      %a.button.pink.skew{href:"#", style:"width:12rem;"}
        tell me i'm pretty
      -#%a.button.pink.skew{href:"javascript:history.go(0)"}
        -# tell me i'm pretty
        -# hit me again
        -# moar
        -# say something nice
        -# again
        -# yeah
        -# great
        -# oh, ok
        -# keep em coming
        -# yep

    #footer
      .signature
        today is
        #{Time.now.in_time_zone('Eastern Time (US & Canada)').strftime("%A").downcase}
        and idgaf
      .timestamp
        %a.key{href:"#"}
          credits
        .credits
          .signature{style:"float:none;"}
            The Gentle Compliment Generator
          %p
            by
            %a{href:"http://github.com/fists"} fists
          %p
            .signature{style:"float:none;"}
              CSS Graphics Sources
          %ul
            %li
              %span.work
                %a{href:"http://lea.verou.me/css3patterns/#seigaiha"}
                  css background
              %span
                %a{href:"http://lea.verou.me/"}
                  Lea Verou
            %li
              %span.work
                %a{href:"http://jameskoster.co.uk/snippets/pure-css-3d-ribbon/"}
                  css banner
              %span
                %a{href:"http://jameskoster.co.uk/"}
                  James Koster
            %li
              %span.work
                %a{href:"http://simurai.com/archive/buttons/"}
                  bon-bon buttons
              %span
                %a{href:"http://simurai.com/"}
                  simurai
          %p
            .signature{style:"float:none;"}
              Typography
          %ul
            %li
              %span.work
                %a{href:"http://www.google.com/fonts/specimen/Pacifico",style:"font-family:'Pacifico';"}
                  Pacifico
                \-&-
                %a{href:"http://www.google.com/fonts/specimen/Amatic+SC",style:"font-family:'Amatic SC';"}
                  Amatic SC
              %span
                %a{href:"http://code.newtypography.co.uk/"}
                  Vernon Adams
            %li
              %span.work
                %a{href:"http://www.google.com/fonts/specimen/Shadows+Into+Light",style:"font-family:'Shadows Into Light';"}
                  Shadows Into Light
              %span
                %a{href:"http://www.kimberlygeswein.com/"}
                  Kimberly Geswein
            %li
              %span.work
                %a{href:"http://www.google.com/fonts/specimen/Open+Sans",style:"font-family:'Open Sans';"}
                  Open Sans
              %span
                %a{href:"http://www.monotype.com/studio/steve-matteson"}
                  Steve Matteson

-#= yield
