%html
  %head
    -#= stylesheet_link_tag "//fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700|Pacifico:400", :media => "all"
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Amatic+SC:400|Shadows+Into+Light:400|Pacifico:400", :media => "all"
    = stylesheet_link_tag "application", media: 'all', "data-turbolinks-track" => true
    %title The Gentle Compliment Generator
    %meta{name:"Description",content:"Automated Life Coaching, powered by Rails. Also my first Ruby app."}
    %meta{name:"gen@",content:"#{Time.now}"}
    %meta{name:"viewport",content:"width=device-width; initial-scale = 1.0; maximum-scale=1.0; user-scalable=no"}

  %body.scaled

    .wrapper
      #title
        .the The
        Gentle Compliment Generator

    #main
      = yield

      -#%a.butan.blue{href:"#"}
      -#%a.button.pink.skew{href:"#", style:"width:12rem;"}
        tell me i'm pretty

    #footer
      .signature
        today is
        #{Time.now.in_time_zone('Eastern Time (US & Canada)').strftime("%A").downcase}
        and idgaf
      .timestamp
        %a.key{href:"#"}
          credits
        .credits
          .signature{style:"float:none;"}
            The Gentle Compliment Generator
          %p
            by
            %a{href:"http://github.com/fists"} fists
          %p
            .signature{style:"float:none;"}
              CSS Graphics Sources
          %ul
            %li
              %span.work
                %a{href:"http://lea.verou.me/css3patterns/#seigaiha"}
                  css background
              %span
                %a{href:"http://lea.verou.me/"}
                  Lea Verou
            %li
              %span.work
                %a{href:"http://jameskoster.co.uk/snippets/pure-css-3d-ribbon/"}
                  css banner
              %span
                %a{href:"http://jameskoster.co.uk/"}
                  James Koster
            %li
              %span.work
                %a{href:"http://simurai.com/archive/buttons/"}
                  bon-bon buttons
              %span
                %a{href:"http://simurai.com/"}
                  simurai
          %p
            .signature{style:"float:none;"}
              Typography
          %ul
            %li
              %span.work
                %a{href:"http://www.google.com/fonts/specimen/Pacifico",style:"font-family:'Pacifico';"}
                  Pacifico
                \-&-
                %a{href:"http://www.google.com/fonts/specimen/Amatic+SC",style:"font-family:'Amatic SC';"}
                  Amatic SC
              %span
                %a{href:"http://code.newtypography.co.uk/"}
                  Vernon Adams
            %li
              %span.work
                %a{href:"http://www.google.com/fonts/specimen/Shadows+Into+Light",style:"font-family:'Shadows Into Light';"}
                  Shadows Into Light
              %span
                %a{href:"http://www.kimberlygeswein.com/"}
                  Kimberly Geswein
            %li
              %span.work
                %a{href:"http://www.google.com/fonts/specimen/Open+Sans",style:"font-family:'Open Sans';"}
                  Open Sans
              %span
                %a{href:"http://www.monotype.com/studio/steve-matteson"}
                  Steve Matteson

-#= yield
