%html
  %head
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700|Pacifico:400", :media => "all"
    = stylesheet_link_tag "application", media: 'all', "data-turbolinks-track" => true
    %title THE SWAGNIFICENT SEVEN

  %body.scaled

    #title
      The Gentle Compliment Generator

    #main
      swag

    #footer
      .signature
        -#today is #{Time.now.strftime("%A").downcase} and idgaf
        -#today is #{Time.zone.now.strftime("%A").downcase} and idgaf
        today is
        #{Time.now.in_time_zone('Eastern Time (US & Canada)').strftime("%A").downcase}
        and idgaf
      .timestamp
        = Time.now

-#= yield
